﻿html, body {
    width: 100%;
    height: 100%;
}

html, body, a, table *, table, td.image {
    margin: 0;
    padding: 0;
}

body {
    font-family: Helvetica, Arial;
    color: #333333;
    font-weight: 300;
    background: #efefef;
}

a {
    text-decoration: none;
}

.header-wrapper {
    font-size: 40px;
    text-aagn: center;
    padding-top: 25px;
    padding-bottom: 25px;
    color: #fff;
}

input[type=radio] {
    display: none;
}

.nav-wrapper a {
    width: 16.6666666666666666%;
    font-size: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 7px;
    background: #fefefe;
    color: #333;
}


tr {
    background: #fff;
    display: block;
    margin-top: 10px;
    padding: 0;
    transition: .5s all;
    border-radius: 5px;
    border-collapse: collapse;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, .2);
}

tr:hover {
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, .5);
}

.title {
    color: black;
    font-size: 22px;
}

td.image {
    border: 0 none black;
}

td.image img {
    border-radius: 5px;
    display: block;

}

.title {
    text-align: center;
}

td.text {
    padding: 20px;
}

.header-wrapper, .nav-wrapper, .content-wrapper, .search-wrappper {
    width: 75%;
}

.content-wrapper {
   padding-top: 5px;
}

.nav-wrapper a:first-child{
    border-radius: 0 0 0 5px;
}

.nav-wrapper a:last-child{
    border-radius: 0 0 5px 0;
}


a.active, a:hover{
    color: #fff;
}

body.index a.active, body.index .header-wrapper {
    background: #673AB7;
}

body.animals a.active, body.animals .header-wrapper {
    background: #FF9800;
}

body.builds a.active, body.builds .header-wrapper {
    background: #F44336;
}

body.fish a.active, body.fish .header-wrapper {
    background: #00BCD4;
}

body.nature a.active, body.nature .header-wrapper {
    background: #2E7D32;
}

body.about a.active, body.about .header-wrapper {
    background: #FF5722;
}

a.index:hover { 
    background: #4527A0;
}

a.animals:hover {
    background: #EF6C00;
}

a.builds:hover {
    background: #C62828;
}

a.fish:hover {
    background: #00838F;
}

a.animals:hover {
    background: #4CAF50;
}

a.nature:hover {
    background: #2E7D32;
}

a.about:hover {
    background: #D84315;
}


.content-wrapper *{
    transition: .1s all;
    -moz-transition: .1s all;
    -ms-transition: .1s all;
}

tr img, .header-wrapper, .nav-wrapper, .content-wrapper, .search-wrapper {
    margin: 0 auto;
}

.search-wrapper input {
    width: 75%;
    margin: 20px auto;
    
}

.q, .author_q{
    font-size: 20px;
    padding: 5px;
    padding-left: 20px;
    margin: 10px;
}

.q {
    border-left: 4px solid #673AB7;
}


.author_q {
    text-align: right;
    font-weight: 700;
}

p {
    font-size: 18px;
}

.index p {
    font-size: 20px;
}